# Homework 1 - Intro

### Import Pandas and Numpy

In [87]:
import pandas as pd
import numpy as np

### Q1. Get Pandas Version
#### What's the version of Pandas that you installed?

In [134]:
pd.__version__

'2.2.2'

#### Read the data with Pandas

In [7]:
df = pd.read_csv('laptops.csv')

In [8]:
df

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01
...,...,...,...,...,...,...,...,...,...,...,...,...
2155,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3060,17.3,No,2699.99
2156,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3070,17.3,No,2899.99
2157,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,32,1000,SSD,RTX 3080,17.3,No,3399.99
2158,Razer Book 13 Intel Evo Core i7-1165G7/16GB/1T...,Refurbished,Razer,Book,Intel Evo Core i7,16,1000,SSD,NaN,13.4,Yes,1899.99
2159,Razer Book FHD+ Intel Evo Core i7-1165G7/16GB/...,Refurbished,Razer,Book,Intel Evo Core i7,16,256,SSD,NaN,13.4,Yes,1699.99

### Q2. Count Records
#### How many records are in the dataset?

In [15]:
df.index.size

2160

### Q3. Count Brands
#### How many laptop brands are presented in the dataset?

In [21]:
df.Brand.nunique()

27

### Q4. Count Missing Values
#### How many columns in the dataset have missing values?

In [23]:
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [142]:
# Counted 3 columns

### Q5. Maximum Final Price
#### What's the maximum final price of Dell notebooks in the dataset?

In [39]:
df.groupby('Brand')['Final Price'].max().loc['Dell']

3936.0

### Q6. Median Value of Screen
#### 1. Find the median value of Screen column in the dataset.
#### 2. Next, calculate the most frequent value of the same Screen column.
#### 3. Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
#### 4. Now, calculate the median value of Screen once again.
#### 5. Has it changed?

In [42]:
df.Screen.median()

15.6

In [52]:
df.Screen.isnull().sum()

4

In [61]:
df.Screen.fillna(df.Screen.mode()[0], inplace=True)

In [63]:
df.Screen.median()

15.6

In [141]:
df.Screen.isnull().sum() # just to check if null values got filled

0

In [ ]:
# Median did not changed

### Q.7 Sum of Weights
#### 1. Select all the "Innjoo" laptops from the dataset.
#### 2. Select only columns RAM, Storage, Screen.
#### 3. Get the underlying NumPy array. Let's call it X.
#### 4. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
#### 5. Compute the inverse of XTX.
#### 6. reate an array y with values [1100, 1300, 800, 900, 1000, 1100].
#### 7. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
#### 8. What's the sum of all the elements of the result?

In [91]:
df[
    df['Brand'] == 'Innjoo'
][['RAM', 'Storage', 'Screen']]

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1
1483    6      128    14.1

In [95]:
X = df.loc[df['Brand'] == 'Innjoo', ['RAM', 'Storage', 'Screen']].to_numpy()

In [96]:
X

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

In [108]:
XT = X.T

In [109]:
XTX = XT.dot(X)

In [110]:
XTX

array([[2.52000e+02, 8.32000e+03, 5.59800e+02],
       [8.32000e+03, 3.68640e+05, 1.73952e+04],
       [5.59800e+02, 1.73952e+04, 1.28196e+03]])

In [131]:
XTX_inv = np.linalg.inv(XTX)

In [113]:
y = [1100, 1300, 800, 900, 1000, 1100]

In [132]:
w = XTX_inv.dot(XT)
w = w.dot(y)

In [140]:
np.sum(w)

91.29988062995815